.login-container {
  display: flex;
  height: 100vh;

  .left-image {
    flex-basis: 33.3333%;  // 宽度改用flex-basis
    height: 100%;          // 让高度根据内容撑开或者用100vh
    background: url('../../assets/images/AI-Login-Image.png');
    background-size: cover;
  }

  .right-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 40px;

    .login-title {
      font-size: 28px;
      font-weight: bold;
      
    }

    form {
      width: 100%;
      max-width: 360px;
    }
  }
}